# Compiled source #
###################

*.o
*.d
*.lo
*.so
libxpu-container.a
libxpu-container.so*

.debug
deps
src/build.h

src/driver_clt.c
src/driver_rpc.h
src/driver_svc.c
src/driver_xdr.c
/dist
/.vscode